/* hero center logo */



@mixin animationValue($name, $duration , $function, $delay, $count, $state){
  animation: $name $duration+s $function $delay+s $count $state;

  -webkit-animation: $name $duration+s $function $delay+s $count $state;
}

@for $cnt from 1 through 6{
  .item:nth-child(#{$cnt}){
    @include animationValue(example, 2, ease, $cnt * 0.5, 1, forwards);
  }
}

@mixin keyframes($name){
  @-webkit-keyframes #{$name}{
    @content;
  }

  @keyframes #{$name}{
    @content;
  }
}

.item{
  opacity: 0;
}

@include keyframes(example){
  100%{
    opacity: 1;
  }
}


/* hero left */

.item2{
  opacity: 0;
}


.item2{
  @include animationValue(example, 2, ease, 2, 1, forwards);
}



.item3{
  opacity: 0;
  transform: translateY(50%);
}


.item2{
  opacity: 0;
}


.item3{
  @include animationValue(example4, 1.5, ease, 2.2, 1, forwards);
  @include keyframes(example4){
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
}


/* hero right */

.xslider_wrap{
  opacity: 0;
}


.xslider_wrap{
  @include animationValue(example, 2, ease, 1.5, 1, forwards);
}




.p-index-float{
  transform: translateY(200%);
}


.p-index-float{
  @include animationValue(example8, 1.5, ease, 3.5, 1, forwards);
  @include keyframes(example8){
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
}




.right-circle{
  animation: rotate-anime 30s linear infinite;
}



@keyframes rotate-anime{
  0%{
    transform: rotate(0);
  }

  100%{
    transform: rotate(-360deg);
  }
}


@keyframes right-circle{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}



/* about */

.about{
  opacity: 0;
  transform: translateY(10%);
}


.about{
  @include animationValue(example2, 2, ease, 2.6, 1, forwards);
  @include keyframes(example2){
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
}


/* article */

.article{
  opacity: 0;
  transform: translateY(100px);
}

.article2{
  opacity: 0;
  transform: translateY(100px);
}

.article3{
  opacity: 0;
  transform: translateY(100px);
}


.article{
  @include animationValue(article1, 1, cubic-bezier(0.41, 1.69, 0.64, 1), 0.5, 1, forwards);
  @include keyframes(article1){
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.article2{
  @include animationValue(article5, 1.5, cubic-bezier(0.41, 1.69, 0.64, 1), 0.6, 1, forwards);
  @include keyframes(article5){
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.article3{
  @include animationValue(article6, 2, cubic-bezier(0.41, 1.69, 0.64, 1), 0.7, 1, forwards);
  @include keyframes(article6){
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
}


.article-span{
  display: inline-block;
  opacity: 0;
  transform: translateX(30px);
}

.article-span2{
  display: inline-block;
  opacity: 0;
  transform: translateX(30px);
}

.article-span3{
  display: inline-block;
  opacity: 0;
  transform: translateX(30px);
}


.article-span{
  @include animationValue(article2, 1, ease, 0.5, 1, forwards);
  @include keyframes(article2){
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.article-span2{
  @include animationValue(article3, 1, ease, 0.6, 1, forwards);
  @include keyframes(article3){
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.article-span3{
  @include animationValue(article4, 1, ease, 0.7, 1, forwards);
  @include keyframes(article4){
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
}


.article-logo{
  opacity: 0;
  transform: rotate(30deg) translateY(150%);

  transform-origin: left bottom;
}


.article-logo{
  @include animationValue(logo1, 1, ease, 1, 1, forwards);
  @include keyframes(logo1){
    100%{
      opacity: 1;
      transition: transform 0.8s;
      transform: rotate(0) translateY(0);
    }
  }
}


/* story */


.story-left{
  opacity: 0;
  transform: translateY(80px);
}


.story-left{
  @include animationValue(story1, 3, cubic-bezier(0.22, 1, 0.36, 1), 1, 1, forwards);
  @include keyframes(story1){
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.story-right{
  opacity: 0;
  transform: translateY(80px);
}


.story-right{
  @include animationValue(story1, 3.2, cubic-bezier(0.22, 1, 0.36, 1), 0.3, 1, forwards);
  @include keyframes(story1){
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
}


/* Product */