.hero-left{
  width: 30%;

  img{
    width: 60px;
    margin: 244px 157px;
  }

  span{
    display: block;
    font-size: 14px;
    position: relative;
    bottom: 90px;

    writing-mode: vertical-rl;
  }
}

.hero-area{
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
}

/* slider */

.xslider_wrap{
  display: flex;
  width: 70%;
  overflow: hidden;

  div img{
    max-width: 450px;
    height: 680px;
    background-position: center center;
  }
}

.xslider1, .xslider2{
  display: inline-flex;
  flex: none;
  animation: xslider 80s linear infinite;
}


.xslider1 div, .xslider2 div{
  flex: none;
  padding: 0 10px;
}


@keyframes xslider{
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(-100%);
  }
}

/* hero center */

.hero-center{
  margin: auto;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;



  .center-img{
    width: 100%;
    z-index: 1;
  }



  img{
    display: block;
    width: 400px;
    margin: 0 auto 15px auto;
  }
}

.right-circle{
  width: 162px;
  position: absolute;
  right: 73px;
  bottom: 39px;
  z-index: 1;
  transform: rotate(45deg);
  animation: rotate-anime 30s linear infinite;



  img{
    transition: opacity 2s 2s, transform 2s 2s;
  }
}

@keyframes rotate-anime{
  0%{
    transform: rotate(0);
  }

  100%{
    transform: rotate(-360deg);
  }
}

.p-index-float{
  width: 200px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 2;
}

/* about */

.about{
  height: 800px;
  margin: 0 30px;
  background-image: url("https://d2w53g1q050m78.cloudfront.net/shopfruoatsjp/uploads/assets/static.index__about.webp");
  background-position: center center;
  background-size: cover;
  position: relative;

  h3{
    padding-top: 30px;
    color: #ec6c4e;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .about-left{
    max-width: 510px;
    height: 741px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    top: 200px;
    left: 50px;
    z-index: 1;
    transform: translate3d(0px, 100px, );


    h2{
      padding: 70px 50px;
      color: #ec6c4e;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.3;
    }

    p{
      padding: 0 50px;
      color: #ec6c4e;
      font-size: 14px;
      line-height: 2.2;
    }
  }
}

/* para */

.para{
  height: 750px;
  margin-top: 60px;
  background-image: url("https://d2w53g1q050m78.cloudfront.net/shopfruoatsjp/uploads/assets/static.index__eyecatch.webp");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.para-text{
  padding-left: 10px;
  margin-left: -10px;
  overflow: hidden;
  font-family: futura-pt, sans-serif;
  color: #ffff;
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
  position: relative;
  bottom: 109px;
  animation: loop-text 40s infinite linear;

  white-space: nowrap;
}

@keyframes loop-text{
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(-100%);
  }
}

/* article box */

.article-box{
  margin-top: 50px;
  margin-bottom: 150px;

  h3{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .article-wrapper{
    display: flex;
    justify-content: center;
    gap: 6px;


    article{
      max-width: 376px;
      height: 569px;


      span{
        font-size: 70px;
        position: relative;
        top: 45px;
        left: 20px;
        z-index: 1;
      }

      .article-box1{
        height: 296px;
        background-color: white;
        text-align: center;
      }


      h2{
        padding-top: 30px;
        color: #ec6d4e;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
        text-align: center;
      }

      p{
        padding: 20px 30px 30px;
        color: #333;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}