.hero-left{
  width: 30%;

  img{
    width: 60px;
    margin: 244px 157px;
  }

  span{
    display: block;
    font-size: 14px;
    position: relative;
    bottom: 90px;

    writing-mode: vertical-rl;
  }
}

.hero-area{
  display: flex;
  justify-content: space-between;
}

/* slider */

.xslider_wrap{
  display: flex;
  width: 70%;
  overflow: hidden;

  div img{
    max-width: 450px;
    height: 680px;
    background-position: center center;
  }
}

.xslider1, .xslider2{
  display: inline-flex;
  flex: none;
  animation: xslider 30s linear infinite;
}


.xslider1 div, .xslider2 div{
  flex: none;
  padding: 0 10px;
}


@keyframes xslider{
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(-100%);
  }
}

/* hero center */

.hero-center{
  margin: auto;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;



  .center-img{
    width: 100%;
    z-index: 1;
  }



  img{
    display: block;
    width: 400px;
    margin: 0 auto 15px auto;
  }
}

.right-circle{
  width: 162px;
  position: absolute;
  right: 73px;
  bottom: 39px;
  transform: rotate(45deg);
  animation: rotate-anime 30s linear infinite;



  img{
    transition: opacity 2s 2s, transform 2s 2s;
  }
}

@keyframes rotate-anime{
  0%{
    transform: rotate(0);
  }

  100%{
    transform: rotate(-360deg);
  }
}

.p-index-float{
  width: 200px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 2;
}