.other-wrap{
  padding-top: 200px;

  .other-main{
    max-width: 950px;
    padding: 50px 100px 100px 100px;
    margin: 0 auto;
    background-color: #ffff;
    border-radius: 5px;
    color: #ec6c4e;

    .c-title{
      padding: 40px 0;
      margin: 0 auto 30px;
      overflow: hidden;
      color: #ec6d4e;
      font-size: 26px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
    }

    h2{
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: bold;
      line-height: 2;
    }

    p{
      margin-bottom: 40px;
      color: #333;
      font-size: 15px;
      line-height: 2;
    }
  }
}


@media screen and(max-width: 600px){
  .other-wrap{
    padding-top: 150px;

    .other-main{
      padding: 50px 20px 40px 20px;
      margin: 0 13px;

      .c-title{
        padding: 30px 0;
        font-size: 20px;
      }

      h2{
        font-size: 18px;
      }

      p{
        font-size: 12px;
      }
    }
  }
}