.sp-img{
  display: none;
}

.pc-img{
  display: block;
}

@media screen and(max-width: 600px){
  .toggle_btn{
    top: 10px;
  }

  .head-nav{
    display: none;
    //  opacity: 0;
  }


  header{
    height: 52px;
    padding: 0 10px;
    top: 0;

    #logo{
      width: 105px;
      right: -130px;
    }
  }


  .head-right ul li{
    width: 36px;
    height: 36px;
  }

  header .head-right ul li{
    padding: 3px;
  }


  /* hero */

  .hero-area{
    width: 100%;
    height: 100%;
    padding: 30px 0 40px;
    margin-top: 50px;
  }

  .hero-left{
    width: 20%;
    padding-left: 27px;

    span{
      font-size: 10px;
      bottom: -120px;
    }
  }

  .hero-left img{
    width: 15px;
    margin: 0;
  }


  .sp-img{
    display: block;
  }

  .pc-img{
    display: none;
  }

  .xslider_wrap{
    width: 298px;
    height: 460px;
  }

  .xslider_wrap div img{
    max-width: 250px;
    height: 450px;
    background-position: center center;
  }

  .xslider1 div{
    padding: 0 3px;
  }

  .xslider2 div{
    padding: 0 3px;
  }


  .hero-center{
    img{
      width: 200px;
    }
  }

  .p-index-float{
    width: 130px;
    right: 10px;
    bottom: 10px;
  }

  .right-circle{
    display: none;
    width: 100px;
    right: 10px;
    bottom: 0;
  }

  /* about */

  .about{
    height: 666px;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position: 72% -20%;
    background-size: 300%;

    .about-left{
      width: calc(100% - 40px);
      height: 635px;
      top: 240px;
      left: -20px;

      h2{
        padding: 20px;
        font-size: 20px;
      }

      p{
        padding: 0 20px;
        font-size: 12px;
        line-height: 2.2;
      }
    }
  }


  .para{
    height: 350px;
    margin-top: 0;
  }

  .para-text{
    font-size: 60px;
    bottom: 150px;
  }


  .article-box .article-wrapper article span{
    font-size: 40px;
    top: 20px;
  }

  .article-wrapper article h2{
    font-size: 16px;
  }

  .article-box .article-wrapper article p{
    font-size: 12px;
  }

  .article-box .article-wrapper article .article-box1{
    height: auto;
  }

  .article-box{
    padding-bottom: 0;
  }

  /* story */
  .story .story-box .story-left{
    width: 100%;
  }

  .story{
    padding-top: 30px;
  }


  .story-box{
    padding: 0 50px;
  }

  .story .story-box{
    padding-top: 30px;
  }

  .story .story-box .story-left h2{
    padding-top: 20px;
    font-size: 18px;
  }

  .story .story-box .story-left p{
    width: 100%;
    font-size: 12px;
    line-height: 1.8;
  }

  .story .story-box .story-left a{
    width: 230px;
  }

  .story-wrapper{
    height: 100px;
  }

  .story-wrapper{
    bottom: -37px;
  }

  .marquee-inline{
    display: none;
    font-size: 60px;
    font-weight: 400;
  }


  /* product */

  .product{
    padding-top: 40px;
    padding-bottom: 90px;
  }

  .product .product-box-top{
    flex-direction: column;
  }

  .product-left{
    width: 230px;

    img{
      width: 210px !important;
      margin: 0 0 0 10px;
    }
  }

  .product-left{
    left: 60px;
    right: 0;
  }

  .product-right{
    margin-top: 300px;
  }

  .product .product-right{
    width: 361px;
    padding: 60px 0 0 70px;
  }

  .product .product-right .product-text-top{
    font-size: 11px;
  }

  .product .product-right .right-center{
    font-size: 25px;
  }

  .product .product-right .right-center span{
    font-size: 11px;
  }

  .product .product-right .product-right-price h4{
    font-size: 20px;
  }

  .product .product-right p span:nth-child(1){
    font-size: 10px;
  }

  .product .product-right p span:nth-child(2){
    font-size: 12px;
  }

  .product .product-right .product-right-price{
    padding-bottom: 20px;
    margin-left: 0;
  }

  .product .product-right .product-text-top{
    margin-bottom: 0;
  }

  .product .product-right .right-center{
    margin-bottom: 16px;
  }

  .product .product-right a{
    width: 230px;
    position: relative;
    right: 20px;
  }

  .product-article{
    padding-top: 65px;

    article{
      width: 164px;
    }
  }

  .product-btn{
    padding-top: 0;
    margin-right: 20px;
    font-size: 14px;
  }


  /* News */

  #news{
    margin: 0;

    .product-btn{
      padding-top: 25px;
    }

    dl a{
      flex-direction: column;
      align-items: baseline;

      dt{
        margin: 0 0 5px 0;
        font-size: 11px;
      }

      dd{
        font-size: 13px;
      }
    }
  }


  #shop{
    padding-bottom: 200px;
    position: relative;

    .shop-box{
      .shop-left{
        width: 100%;
        height: 300px;
      }

      .shop-right{
        width: 333px;
        margin: 0 auto;
        line-height: 1.2;
        top: 150px;
        left: 0;
        right: 0;

        .shop-btn{
          margin: 30px auto 0 auto;
          font-size: 13px;
          font-weight: bold;
        }

        h3{
          padding: 40px 0;
        }
      }
    }
  }


  /* media */


  #media{
    margin: 0 -20px 100px -20px !important;

    h3{
      padding: 50px 0 33px 0;
    }

    ul{
      flex-wrap: wrap;

      li{
        width: 150px;
      }
    }
  }


  /* magazine */

  #magazine{
    h2{
      padding-bottom: 30px;
      font-size: 30px;
    }
  }



  .magazine-box article a{
    width: 100%;

    img{
      width: 30%;
    }

    .magazine-bottom{
      width: 70%;
    }
  }

  #magazine .magazine-box article{
    height: 100px;
  }

  #magazine .magazine-box article span{
    bottom: 10px;
  }

  #magazine .megazine-btn{
    margin: 35px auto 80px auto;
  }


  /* footer */

  footer{
    padding: 0;
  }

  footer{
    padding: 20px 20px 30px;

    .foot-top{
      ul{
        flex-direction: column;

        li{
          padding: 10px 0;
          border-right: none;
          font-size: 14px;
        }
      }
    }

    .foot-bottom{
      .foot-left{
        img{
          width: 80px;
        }

        li{
          width: 90px;
          margin-right: 2px;
          font-size: 10px;
        }
      }

      .foot-right{
        img{
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.oficial{
  display: none;
}

/* 920px */


@media screen and(max-width: 920px){
  .head-nav{
    opacity: 0;
    pointer-events: none;
  }

  header .head-right ul li:nth-child(1){
    display: none;
  }


  /* article */

  .article-wrapper{
    flex-direction: column;
  }

  .article-box .article-wrapper article{
    max-width: 100%;
    height: 100%;
  }

  .story{
    height: auto;
  }

  .story-left{
    margin: 0 auto;

    h2{
      font-size: 18px;
      text-align: center;
    }
  }


  .story .story-box .story-left{
    padding: 0 20px !important;

    p{
      width: 100%;
    }
  }

  .story .story-box .story-left a{
    margin: 0 auto;
  }

  .story .story-box{
    flex-direction: column-reverse;

    img{
      max-width: 545px;
      margin: 0 auto;
    }
  }

  .story-wrapper{
    bottom: -90px;
  }

  /* pruduct */

  .product-article{
    justify-content: space-between;

    article{
      height: 337px;
    }
  }

  .product-btn{
    margin-right: 80px;
  }


  /* news */

  #news dl a{
    margin: 0 0;
  }


  /* shop */

  #shop .shop-box .shop-right{
    right: 0;
  }

  #media{
    margin: 0 -20px 150px -20px;
  }


  /* magazine */

  #magazine .magazine-box{
    flex-direction: column;
  }

  #magazine .magazine-box article{
    width: 100%;
    height: 105px;
    padding: 10px;

    span{
      font-size: 10px;
    }
  }

  #magazine .magazine-box article a{
    display: flex;
  }

  #magazine .magazine-box article img{
    width: 75px;
    height: 56px;
    margin-right: 10px;
  }

  #magazine .magazine-box article p{
    padding: 0;
    font-size: 12px;
  }
}


@media screen and(max-width: 1200px){
  .toggle_btn{
    display: block;
  }

  .head-nav{
    opacity: 0;
    pointer-events: none;
  }
}