@use "./mixin" as *;

@use "header";

@use "main";

@use "footer";

@use "sp";

@use "anime";

@use "js";

@use "product";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #ec6c4e;
  color: white;
}

img{
  width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  max-width: 1658px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}


/* toggle */